[Unit]
Description=Smartmeter exporter

[Service]
ExecStart=/opt/u-one/echonetlite/smartmeter-exporter --brouteid=${BROUTEID} --broutepw=${BROUTEPW}

[Install]
WantedBy=multi-user.target
